* {
	font-family:'Arial', 'Helvetica', 'Sans-Serif';
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Arial', 'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    font-family: 'Arial', 'Helvetica';
    display: inline;
    margin-right: 20px;
}
a {
    font-family: 'Arial', 'Helvetica';
	text-decoration: none;
    color: #999;
}
a:hover {
	font-family: 'Arial', 'Helvetica';
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
	font-family: 'Arial', 'Helvetica';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
	font-family: 'Arial', 'Helvetica';
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
	font-family: 'Arial', 'Helvetica';
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
	font-family: 'Arial', 'Helvetica';
    list-style: none;
}
