---
layout: home
title: Pandemic Physics Personal Project
---

<h1>Simon's Pandemic Physics Personal Project</h1>

<p>Welcome to my PPPP site!</p>

<h2>Blog</h2>

<h3>Latest posts</h3>

{% if site.pppp.size > 0 %}
	{% assign sorted = site.pppp | sort: 'date' | reverse %}
	{% for post in sorted limit:2 %}
	<div class="postbox">
		<span>{{ post.date | date_to_string }}</span><br><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		<br>Categories: {%  for tag in post.categories %}{{ tag }} {% endfor %}
	</div>
	{% endfor %}
{% endif %}

<h3><a href="blog.html">Full post listing</a></h3>

<h3>Research masterpost</h3>

<h2>About me</h2>

<p>You can find out more about me <a href="about.html">here</a>!</p>