---
layout: home
title: Homepage
---
<div class="blurb">
	<h1>
		Simon's Site
	</h1>

	<p>It may look a little empty for the next little while, and it's still a sparse website, but I am going to be filling it in with things that interest me.</p>

	{% if site.theme_config.show_blog == true %}
  	<h2>{{ site.theme_config.home.title_blog }}</h2>
  	{% include post_list.html %}
	{% endif %}

	<!-- <ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span>:<br><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li><br>
	  {% endfor %}
    </ul> -->
	
</div><!-- /.blurb -->
