<!DOCTYPE html>
	<html>
		<head>
			{% include mathjax.html %}
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				    <!-- <li><a href="/project">Our project</a></li> -->
                    <!-- <li><a href="/blog/">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:noisya55616@gmail.com">email</a></li>
	        		<li><a href="https://github.com/noisya55616">github.com/noisya55616</a></li>
				</ul>
			</footer>
		</body>
	</html>
